services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: diskeep_db
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: welcome1
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
